<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>控制台 - Policr Mini</title>
  </head>
<%= if PolicrMini.mix_env == :prod && PolicrMini.google_analytics_id() do %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= PolicrMini.google_analytics_id() %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= PolicrMini.google_analytics_id() %>');
  </script>
<% end %>
  <body>
    <%= @inner_content %>
  </body>
</html>
