<div id="app"></div>
<link
  rel="stylesheet"
  href="<%= Routes.static_path(@conn, ~s{/assets/console_v2.css}) %>"
/>
<script
  type="text/javascript"
  src="<%= Routes.static_path(@conn, ~s{/assets/console_v2.js}) %>"
></script>
