<script type="text/javascript">
  __GLOBAL__ = <%= {:safe, @global |> ProperCase.to_camel_case() |> Jason.encode!()} %>;
</script>
<div id="app"></div>
<link
  rel="stylesheet"
  href="<%= Routes.static_path(@conn, ~s{/css/admin.css}) %>"
/>
<script
  type="text/javascript"
  src="<%= Routes.static_path(@conn, ~s{/js/admin.js}) %>"
></script>
