{
    "presets": [
        "@babel/preset-env",
        "react-app"
    ],
    "plugins": [
        "emotion",
        [
            "@babel/plugin-proposal-private-methods",
            {
                "loose": true
            }
        ]
    ]
}