[data-scope="toast"] {
  &[data-type="success"] {
    @apply w-fit text-green-50;
  }
  &[data-part="root"] {
    @apply min-w-[14rem] rounded shadow-xl overflow-hidden; /* 基础样式 */
    @apply transition-transform; /* 动画样式 */
    translate: var(--x) var(--y);
  }
  &[data-part="title"] {
    @apply bg-green-500 px-[1.5rem] py-[0.5rem] text-center font-bold
      tracking-wide;
  }
  &[data-part="description"] {
    @apply bg-green-400 px-[1.5rem] py-[0.5rem] text-center text-gray-50
      tracking-wider;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shrink {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
