@import "tailwindcss";

@theme {
  --color-foreground: var(--color-zinc-800);
  --spacing-edge: 1rem;
  --spacing-edge-neg: calc(var(--spacing-edge) * -1);
  --spacing-drawer: 14rem;
  --spacing-drawer-neg: calc(var(--spacing-drawer) * -1);
  --spacing-header: 4rem;
  --spacing-navigation: 4rem;
  --spacing-main-top: calc(var(--spacing-header) + var(--spacing-edge));
  --spacing-main-bottom: calc(var(--spacing-navigation) + var(--spacing-edge));
  --spacing-button-lg: 2.5rem;
}

@utility tw-input-edge {
  outline-style: solid;
  outline-width: 2px;
  outline-color: theme(--color-zinc-100/40);
  border-radius: theme(--radius-lg);
}

@utility tw-input-edge-highlight {
  outline-color: theme(--color-blue-400);
}
